
// reset all color
$text-color: #000000;
$headding-color:#000000;
$icon-hover-background-color: #F1F3F4;
$link-hover-color:#000000;
$background-color: #F5F5F5;
$icon-color:#8F8F8F;
$primary-color:#ffffff;
$logo-color:#000000;
$border-color:#000000;
$folder-color:#EEAE4A;


// reset all fonts
$text-font:'Raleway', Arial, sans-serif;
$heading-font:'Raleway', Arial, sans-serif;
$primary-font:'Raleway', Arial, sans-serif;
$logo-font:'Raleway', Arial, sans-serif;

// all font size reset
$text-size:1rem;

